div.note {
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: #fcf2bf;
    padding: 20px;
    margin: 10px;
    font-family: cursive;
    filter: drop-shadow( 2px 2px 5px #dbdbdb);
}